html{
	background-color: #E0FFFF;
	font-family: '楷体';
}

body{
	margin: 0;
	padding: 0;
}

.chatWindow{
	/*background-image: url("../source/images/backgrounds/default.jpg");*/
	background-color: #FFCCCC;
	width: 433px;
	height: 700px;
}

.chatInner{
	float: left;
	padding-top: 20px;
}

.chatUnit{
	width: 433px;
	min-height: 60px;
}


/*对方消息样式*/
.chatUnit, .chatAvatar, .chatValue, .chatName, .chatValueSpace{
	float: left;
}

.chatAvatarImg{
	margin-left: 10px;
	width: 50px;
	height:50px;
	border-radius: 50px;
}

.chatName{
	margin: 0 0 5px 25px;
}

.chatNameText{
	color: #666;
	margin:0;
	font-size: 12px;
}

.chatValue, .chatValueSelf{
	background-color: rgba(255, 255, 255, 0.7);
	min-height: 33px;
	border-radius: 20px;
	margin: 1px 15px 0;
}

.chatValueSpace, .chatValueSpaceSelf{
	min-height: 33px;
	width: 313px;
}

.chatValueText{
	font-size: 22px;
	margin: 2px 15px;
	color: #FF6FF6;
	padding: 0;
}


/*己方消息样式*/
.chatUnitSelf, .chatAvatarSelf, .chatValueSelf, .chatNameSelf, .chatValueSpaceSelf{
	float: right;
}

.chatAvatarImgSelf{
	margin-right: 10px;
	width: 50px;
	height:50px;
	border-radius: 50px;
}

.chatNameSelf{
	margin: 0 25px 5px 0;
}

.chatNameTextSelf{
	color: #666;
	margin:0;
	font-size: 12px;
}

.chatValueTextSelf{
	font-size: 22px;
	margin: 2px 15px;
	color: #39c5bb;
	padding: 0;
}