@font-face{
	font-family: SAOUIRegular;
	src: url('../fonts/SAOUIRegular.otf');
}
@font-face{
	font-family: zh-CN;
	src: url('../fonts/文泉驿正黑.ttc');
}

a{
    text-decoration: none;
}

p{
    color: #fff;
}

html{
    min-height: 700px;
    font-family: SAOUIRegular,微软雅黑;
	cursor: url(source/images/pointer/Normal.cur),default;
}

body{
    padding: 0;
    margin: 0;
}


.bg, .bg-reg{
    width: 40%;
    min-width: 450px;
    background-color: #aaa;
    float: left;
    position: absolute;
    left: 30%;
    top: 30%;
}

.bg{
    height: 320px;
    width: 630px;
}

.char{
    padding: 0;
    margin: 15px 0;
    text-align: center;
    font-size: 50px;
}

.bg-content{
    margin: 0 0 5px 0;
}

.char-content{
    width: auto;
    font-size: 35px;
    margin: 30px 100px;
}

.char-content-reg{
    font-size: 35px;
    margin: 15px 40px;
}


.input-content, .input-content-reg{
    margin-left: 5px;
    height: 35px;
    width: 250px;
    font-family: SAOUIRegular,微软雅黑;
    font-size: 35px;
    background-color: #aaa;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
}

.input-content-reg{
    width: 75%;
}

.center-submit-content{
    width: 100%;
    text-align: center;
}

.submit-content{
    background-color: #aaa;
    border: 4px solid #fff;
    min-height: 35px;
    min-width: 60px;
    font-family: SAOUIRegular,微软雅黑;
    color: #fff;
    font-size: 30px;
}

.submit-content:hover, .reg-content:hover, .login-content:hover{
    background-color: #fff;
    border: 4px solid #ccc;
    color: #aaa;
	transition:all .3s;
}

.reg-content, .login-content, .newUser-content{
    position: relative;
    float: right;
    background-color: #aaa;
    border: 4px solid #fff;
    min-height: 15px;
    min-width: 35px;
    font-family: SAOUIRegular,微软雅黑;
    color: #fff;
    font-size: 20px;
    top: -50px;
    right: 10px;
}

.newUser-content{
    float: left;
    right: 0;
    left: 10px;
}

.login-content{
    position: relative;
    float: left;
    left: 40px;
}

.href-reg-content{
    color: #fff;
}

.reg-content:hover a, .login-content:hover a{
    color: #aaa;
}

.gender-radio-reg{
    display: none;
}

.gender-label-reg{
    margin-left: 80px;
}

.gender-radio-reg:checked+ .gender-label-reg{
    border-bottom: 2px solid #fff;
}

.char-avatar-upload{
    margin-left: 80px;
    border-bottom: 2px solid #fff;
}

.char-avatar-upload label{
    margin-left: 80px;
}

.char-avatar-uploaded{
    color: #ccc;
    border-bottom: 2px solid #ccc;
}

.avatar-upload{
    display: none;
    position: relative;
    font-size: 20px;
    color: #fff;
}

.avatar-pre{
    border: 0;
    margin: 0 30px;
    width: 100px;
    height: 100px;
}

.info-warning{
    color: red;
    font-size: 24px;
}

.center-info{
    text-align: center;
    padding: 0;
    margin: 0;
}

.info-pass{
    color: green;
    font-size: 24px;
}

.info-warning-in-article{
    color: red;
}

.info-pass-in-article{
    color:green;
}

.home-bg-content{
    margin: 30px;
}

.avatar-home{
    height: 75px;
    width: 75px;
}

.warning-login{
    margin-top: 9%;
    color: red;
    font-size: 30px;
    text-align: center;
}


.center-birthday{
    margin-left: 57px;
}

.year-birthday, .month-birthday{
    background-color: #aaa;
    color: #fff;
    border: 0;
    width: 83px;
    font-size: 35px;
    font-family: SAOUIRegular;
}

.month-birthday{
    width: 53px;
}
