<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    配置数据源,交给Spring去做-->
    <typeAliases><!--设置别名-->
        <!--将包下面所有类名作为别名,默认为类名的小写。在xml文件中有很多需要类完整的类名的地方，十分的冗长，为了减轻我们的工作量和复杂度mybatis支持我们给某个类起一个别名，然后通过别名可以访问到指定的类型。-->
        <!--name 实体类所在的包名-->
        <package name="com.main"/>
    </typeAliases>


    <mappers>
        <!--    mapper 接口是用于执行自定义SQL语句相关的方法,可以在 mapper 接口定义方法上添加SQL方法注解或者使 mapper 接口绑定 xml 文件-->
        <!--    将包下的名字叫userMapper的接口与配置文件绑定在一起绑定-->
        <mapper class="com.mapper.userMapper"/>

        <mapper resource="com/mapper/ChatMapper.xml"/>
    </mappers>

</configuration>