<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 1扫描service下的包下相关的bean -->

    <context:component-scan base-package="com.service" />

    <!--BookServiceImpl注入到IOC容器中-->
    <bean id="UserServiceImpl" class="com.service.UserServiceImpl">

        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="ChatServiceImpl" class="com.service.ChatServiceImpl">
        <property name="chatMapper" ref="chatMapper"/>
    </bean>
    <bean id="OnlineServiceImpl" class="com.service.OnlineServiceImpl">
        <property name="onlineMapper" ref="onlineMapper"/>
    </bean>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!--cron定时器配置-->
    <task:annotation-driven />

</beans>