<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ChatMapper">

    <select id="getChat" resultType="Chat" >
        select * from chat
        order by time DESC
        limit 0,#{n}
    </select>

    <select id="getChatByTime" resultType="Chat">
        select * from chat
        where time>#{timestamp}
    </select>

    <insert id="newChat" parameterType="Chat">
        insert into building.chat(name, value, time)
        VALUE(#{name},#{value},#{time})
    </insert>

<!--<update id="Addtime"  >
        insert INTO online (username,overdue) values (#{username},#{time})
</update>-->
</mapper>

