<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OnlineMapper">

<select id="getUsername" resultType="Online">
# 查看online中是否存在对应用户名
        select *from online where username=#{username}
</select>
<!--        插入用户名与过期时间-->
<insert id="InsertOnline" parameterType="Online">
        insert into online (username, overdue) VALUES (#{username},#{overdue})
</insert>
<!--        更新用户和过期时间-->
        <update id="updateOnline" parameterType="Online">
                update  online  set overdue =#{overdue} where username =#{username}
        </update>
</mapper>
