<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

<select id="getUsername" resultType="User" >
    select  * from user  where username=#{username}

</select>


<select id="getUserpsw" resultType="User">
    select  * from user where  password=#{password}
</select>


<select id="AddUsername" resultType="User">
    INSERT into user(username) values(#{username})
</select>
    <select id="AddPassword" resultType="User">
        INSERT into user(password) values(#{password})
    </select>
    <select id="AddPicture" resultType="User">
        INSERT into user(picture) values(#{picture})
    </select>

 <select id="getUser" resultType="User">
     select *from user where username=#{username}
 </select>

<insert id="register" parameterType="User">
    INSERT INTO user(username, password,picture)  values (#{username},#{password},#{picture})
</insert>

    <select id="userlogin" resultType="User">
        select * from user  where username=#{username} and password=#{password}
    </select>

<insert id="gettime" parameterType="User">
    INSERT INTO online (username,overdue) values(#{username},#{time})
</insert>
<delete id="delectTime" parameterType="User">
delete from online where (#{nowtime})>=overdue

</delete>

<!--    获取在线列表 -->
    <select id="getOnline" resultType="User">
        select * from online
    </select>
</mapper>






